/*global*/
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Rationale", sans-serif;
}
p{
    line-height: 2;
}
a{
    text-decoration: none;
}
h1,h2,h3{
    margin-bottom: 10px;
}
/*utilities*/
.container{
    width: 80%;
    margin: 0 auto;
}
@media(max-width:768px){
    .container{
        width: 95%;
    }
}
.btn{
    display: block;
    background-color: orange;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: auto;
    border-radius: 5px;
}

/*header*/
.site-header{
    background-image: url(realEstate-img-main/header.jpg);
    background-size: cover;
    height: 400px;
    text-align: center;
    color: white;
}
.site-header a{
    color: white;
}
.bar-menu{
    display: flex;
    justify-content: space-between;
    height: 80px;
    text-align: center;
}
.menu a{
    margin-right: 30px;
}

@media(max-width:768px) {
    .bar-menu{
        flex-direction: column;
        height: 200px;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    .menu a{
        margin-bottom: 20px;
        text-align: center;
    }
}

/*about*/
.about-container{
    display: flex;
    justify-content: space-between;
}
.about-item{
    margin-right: 5%;
}

@media(max-width:768px){
    .about-container{
        flex-direction: column;
    }
    .about-item{
        margin-right: 0;
    }
    .about-item h3{
        text-align: center;
    }
    .about-item img{
        display: block;
        margin: 20px auto;
    }
    h2{
        text-align: center;
    }
}
/*houses*/
.houses-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.house-item{
    background-color: #dedede;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 30%;
    box-sizing: border-box;
}
.house-item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.price{
    color: green;
    font-weight: bold;
}
.icon-container{
    display: flex;
    align-items: center;
}
.icon-container img{
    width: 20px;
    height: auto;
    margin-right: 10px;
}
.icon-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 10px 0;
    list-style: none;
}
.icon-container p{
    margin: 0;
    font-size: 14px;
    line-height: 1;
}

@media(max-width: 768px){
    .houses-container{
        flex-direction: column;
        align-items: center;
    }
    .house-item{
        width: 90%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .icon-container{
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-around;
    }
    .icon-container img{
        margin-right: 5px;
    }
}

/*menu nav*/
.nav-menu-bar{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

/*blog-item*/
.blog-item{
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}
.blog-container{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

/*contact*/
.contact-header{
    background-color: orange;
    color: black;
}
.contact-header a{
    color: black;
}
.contact-top h2, p{
    text-align: center;
}
.contact-pair input, label{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.contact-form{
    display: inline-block;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.contact-form input{
    border: none;
    width: 40%;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 100px;
}

/*form-container*/
.form-container{
    background-color: #dedede;
    padding: 20px;
    margin-right: 50px;
    margin-left: 50px;
}
legend{
    font-size: 12px;
}
fieldset{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
}
.form-control{
    margin-bottom: 20px;
}
.form-control select{
    display: inline-block;
    border: none;
    width: 75.6%;
    padding: 5px;
    border-radius: 3px;
    text-align: left;
}
.form-control input, .form-control textarea{
    border: none;
    width: 75%;
    padding: 5px;
    border-radius: 3px;
}
.form-control label{
    display: inline-block;
    width: 150px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    background-color: #dedede;
    height: 300px;
    align-items: center;
    margin-top: 50px;
}

.icon-container{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
    width: 20px;
    padding: 20px;
    margin-right: 20px;
}
.privacy-text{
    display: flex;
}
.privacy-text p:last-of-type{
    border-left: 2px solid black;
    padding-left: 10px;
    margin-left: 10px;
    text-decoration: underline;
    font-weight: 900;
}

/*About page*/
.info-section {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}

.info-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.info-content h3{
    text-align: center;
    font-size: 20px;
}

.info-section img {
    width: 45%;
    height: 400px;
    margin-right: 30px;
    margin-left: 30px;
    border: 10px solid black;
    padding: 5px;
    object-fit: cover;
}

.info-content p{
    margin-left: 20px;
    margin-right: 20px;
}

.text-details {
    width: 50%;
}

.reverse-text .info-content{
    flex-direction: row-reverse;
}
@media (max-width: 768px) {
    .info-section {
        flex-direction: column;
        align-items: center;
    }

    .info-content{
        flex-direction: column;
        align-items: center;
    }

    .info-content img, .text-details {
        width: 80%;
        height: auto;
        margin: 10px 0;
    }

    .text-details{
        width: 90%;
        text-align: center;
    }

    .reverse-text .info-content{
        flex-direction: column;
        align-items: center;
    }
}

/*Blog-page*/
.blog-fit{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.blog-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.blog-card {
    background: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-card h4 {
    margin-top: 10px;
}